<page-header [title]="'高级表单'">
  فرم‌های پیشرفته معمولاً برای وارد کردن و ارسال همزمان حجم زیادی از داده‌ها استفاده می‌شوند. (این مثال از فرم واکنشی استفاده می‌کند، اما
  می‌توانید از فرم مبتنی بر قالب نیز استفاده کنید)
</page-header>
<form nz-form [formGroup]="form" (ngSubmit)="_submitForm()" [nzLayout]="'vertical'">
  <nz-card [nzBordered]="false" nzTitle="仓库管理">
    <nz-row nzGutter="16">
      <nz-col nzLg="6" nzMd="12" nzSm="24">
        <nz-form-item>
          <nz-form-label nzFor="name">{{ 'form.advanced.name' | i18n }}</nz-form-label>
          <nz-form-control nzErrorTip="لطفاً نام انبار را وارد کنید">
            <input nz-input formControlName="name" id="name" placeholder="لطفاً نام انبار را وارد کنید" />
          </nz-form-control>
        </nz-form-item>
      </nz-col>
      <nz-col [nzXl]="{ span: 6, offset: 2 }" [nzLg]="{ span: 8 }" [nzMd]="{ span: 12 }" nzSm="24">
        <nz-form-item>
          <nz-form-label>仓库域名</nz-form-label>
          <nz-form-control nzErrorTip="لطفاً آدرس انبار را وارد کنید">
            <nz-input-group nzAddOnBefore="http://" nzAddOnAfter=".com">
              <input nz-input formControlName="url" placeholder="لطفاً آدرس انبار را وارد کنید" />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
      </nz-col>
      <nz-col [nzXl]="{ span: 8, offset: 2 }" [nzLg]="{ span: 10 }" [nzMd]="{ span: 24 }" nzSm="24">
        <nz-form-item>
          <nz-form-label>مدیر انبار</nz-form-label>
          <nz-form-control nzErrorTip="لطفاً مدیر انبار را انتخاب کنید">
            <nz-select formControlName="owner" [nzPlaceHolder]="'لطفاً مدیر انبار را انتخاب کنید'" [nzShowSearch]="true">
              @for (i of users; track $index) {
                <nz-option [nzLabel]="i.label" [nzValue]="i.value" />
              }
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </nz-col>
    </nz-row>
    <nz-row nzGutter="16">
      <nz-col nzLg="6" nzMd="12" nzSm="24">
        <nz-form-item>
          <nz-form-label>审批员</nz-form-label>
          <nz-form-control nzErrorTip="لطفاً مدیر انبار را انتخاب کنید">
            <nz-select formControlName="approver" [nzPlaceHolder]="'لطفاً مدیر انبار را انتخاب کنید'" [nzShowSearch]="true">
              @for (i of users; track $index) {
                <nz-option [nzLabel]="i.label" [nzValue]="i.value" />
              }
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </nz-col>
      <nz-col [nzXl]="{ span: 6, offset: 2 }" [nzLg]="{ span: 8 }" [nzMd]="{ span: 12 }" nzSm="24">
        <nz-form-item>
          <nz-form-label>تاریخ اعمال</nz-form-label>
          <nz-form-control>
            <nz-range-picker formControlName="date_range" [style]="{ width: '100%' }" />
          </nz-form-control>
        </nz-form-item>
      </nz-col>
      <nz-col [nzXl]="{ span: 8, offset: 2 }" [nzLg]="{ span: 10 }" [nzMd]="{ span: 24 }" nzSm="24">
        <nz-form-item>
          <nz-form-label>نوع انبار</nz-form-label>
          <nz-form-control nzErrorTip="لطفاً نوع انبار را انتخاب کنید">
            <nz-select formControlName="type" [nzShowSearch]="true" [nzPlaceHolder]="'لطفاً نوع انبار را انتخاب کنید'">
              <nz-option [nzLabel]="'مخفی'" [nzValue]="'private'" />
              <nz-option [nzLabel]="'عمومی'" [nzValue]="'public'" />
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </nz-col>
    </nz-row>
  </nz-card>
  <nz-card [nzBordered]="false" nzTitle="任务管理">
    <nz-row nzGutter="16">
      <nz-col nzLg="6" nzMd="12" nzSm="24">
        <nz-form-item>
          <nz-form-label>任务名</nz-form-label>
          <nz-form-control nzErrorTip="لطفاً نام تسک را وارد کنید">
            <input nz-input formControlName="name2" placeholder="لطفاً نام تسک را وارد کنید" />
          </nz-form-control>
        </nz-form-item>
      </nz-col>
      <nz-col [nzXl]="{ span: 6, offset: 2 }" [nzLg]="{ span: 8 }" [nzMd]="{ span: 12 }" nzSm="24">
        <nz-form-item>
          <nz-form-label>توضیحات تسک</nz-form-label>
          <nz-form-control nzErrorTip="لطفاً توضیحات تسک را وارد کنید">
            <textarea nz-input formControlName="summary" [nzAutosize]="true" placeholder="لطفاً توضیحات تسک را وارد کنید"></textarea>
          </nz-form-control>
        </nz-form-item>
      </nz-col>
      <nz-col [nzXl]="{ span: 8, offset: 2 }" [nzLg]="{ span: 10 }" [nzMd]="{ span: 24 }" nzSm="24">
        <nz-form-item>
          <nz-form-label>اجرا کننده</nz-form-label>
          <nz-form-control nzErrorTip="لطفاً اجرا کننده را انتخاب کنید">
            <nz-select formControlName="owner2" [nzPlaceHolder]="'لطفاً اجرا کننده را انتخاب کنید'" [nzShowSearch]="true">
              @for (i of users; track $index) {
                <nz-option [nzLabel]="i.label" [nzValue]="i.value" />
              }
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </nz-col>
    </nz-row>
    <nz-row nzGutter="16">
      <nz-col nzLg="6" nzMd="12" nzSm="24">
        <nz-form-item>
          <nz-form-label>مسئول</nz-form-label>
            <nz-form-control nzErrorTip="لطفاً مسئول را انتخاب کنید">
            <nz-select formControlName="approver2" [nzPlaceHolder]="'لطفاً مسئول را انتخاب کنید'" [nzShowSearch]="true">
              @for (i of users; track $index) {
                <nz-option [nzLabel]="i.label" [nzValue]="i.value" />
              }
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </nz-col>
      <nz-col [nzXl]="{ span: 6, offset: 2 }" [nzLg]="{ span: 8 }" [nzMd]="{ span: 12 }" nzSm="24">
        <nz-form-item>
          <nz-form-label>تاریخ اعمال</nz-form-label>
          <nz-form-control>
            <nz-time-picker formControlName="time" />
          </nz-form-control>
        </nz-form-item>
      </nz-col>
      <nz-col [nzXl]="{ span: 8, offset: 2 }" [nzLg]="{ span: 10 }" [nzMd]="{ span: 24 }" nzSm="24">
        <nz-form-item>
          <nz-form-label>نوع تسک</nz-form-label>
          <nz-form-control nzErrorTip="请选择任务类型">
            <nz-select formControlName="type2" [nzShowSearch]="true" [nzPlaceHolder]="'لطفاً نوع تسک را انتخاب کنید'">
              <nz-option [nzLabel]="'مخفی'" [nzValue]="'private'" />
              <nz-option [nzLabel]="'عمومی'" [nzValue]="'public'" />
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </nz-col>
    </nz-row>
  </nz-card>
  <nz-card [nzBordered]="false" nzTitle="成员管理">
    <nz-table formArrayName="items" [nzData]="items.value" [nzShowPagination]="false">
      <thead>
        <tr>
          <th>نام</th>
          <th>شماره کاربری</th>   
          <th>قسمت مربوطه</th>
          <th>عملیات</th>
        </tr>
      </thead>
      <tbody>
        @for (item of items.controls; track $index; let i = $index) {
          <tr [formGroupName]="i">
            @let v = items.value[i];
            @let isView = editIndex !== i;
            <td>
              @if (isView) {
                {{ v.name }}
              } @else {
                <nz-form-item>
                  <nz-form-control nzErrorTip="请输入成员姓名">
                    <input nz-input formControlName="name" placeholder="请输入成员姓名" />
                  </nz-form-control>
                </nz-form-item>
              }
            </td>
            <td>
              @if (isView) {
                {{ v.workId }}
              } @else {
                <nz-form-item>
                  <nz-form-control nzErrorTip="请输入工号">
                    <input nz-input formControlName="workId" placeholder="请输入工号" />
                  </nz-form-control>
                </nz-form-item>
              }
            </td>
            <td>
              @if (isView) {
                {{ v.department }}
              } @else {
                <nz-form-item>
                  <nz-form-control nzErrorTip="{{ 'error.required' | i18n }}">
                    <input nz-input formControlName="department" placeholder="请输入所属部门" />
                  </nz-form-control>
                </nz-form-item>
              }
            </td>
            <td>
              @if (isView) {
                <a (click)="edit(i)">ویرایش</a>
                <nz-divider nzType="vertical" />
                <a nz-popconfirm nzPopconfirmTitle="آیا می خواهید این سطر را حذف کنید؟" (nzOnConfirm)="del(i)">حذف</a>
              } @else {
                <a (click)="save(i)">ذخیره</a>
                <nz-divider nzType="vertical" />
                <a nz-popconfirm nzPopconfirmTitle="آیا می خواهید این عمل را لغو کنید؟" (nzOnConfirm)="cancel(i)">لغو</a>
              }
            </td>
          </tr>
        }
      </tbody>
    </nz-table>
    @if (editIndex === -1) {
      <button nz-button [nzType]="'dashed'" (click)="add()" nzBlock class="mt-md">
        <i nz-icon nzType="plus"></i>
        <span>اضافه کردن عضو</span>
      </button>
    }
  </nz-card>
  <footer-toolbar errorCollect>
    <button nz-button type="primary" nzType="primary">ارسال</button>
  </footer-toolbar>
</form>
